/*
body{
    margin:0px;
    padding:0px;
}
.carousel{
    position: absolute;
    width: 391px;
    height: 220px;
    overflow: hidden;
}
.carousel ul {
    list-style-type: none;
    margin:0px;
    padding:0px;
    width:391px;
    height:220px;
}
.carousel ul li{
    height:100%;
    position:absolute;
    margin:0px;
    padding:0px;
}
.carousel ul li a img{
    margin:0px;
    padding:0px;
}
.carousel-tab{
    width:auto;
    height:8px;
    overflow:hidden;
    position:absolute;
    bottom:10px;
    left:50%;
    z-index:1;
}
.carousel-tab span{
    opacity:0.8;
    display:block;
    background-color:#00474d;
    float:left;
    margin-left:3px;
}
.carousel-tab span.show{
    opacity:1;
    background-color:#009eb9;
}*/
