@charset "UTF-8";
/* CSS Document */

html {
    width: 100%;
    height: 100%;
    color: #fdefed;
    background-color: #fff;
    font-family: "Microsoft YaHei";
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    color: #fdefed;
    text-align: center;
    background-color: #fff;
    font-family: "Microsoft YaHei";
    text-align: center;
    overflow: hidden;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, p, blockquote, th, td,figure {
    margin: 0;
    padding: 0;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: normal;
    font-size: 100%;
    vertical-align: baseline;
    word-break: break-all
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ul,li,dl,ol,p,form,div {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    word-break: break-all;
    word-wrap: break-word
}

div,a,img,figure {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

/**** Clearfix ****/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
    _clear: both;
    _height: 0;
    _overflow: hidden;
    _line-height: 0;
}

.clearauto {
    overflow: auto;
    zoom: 1;
}

.b {
    font-weight: bold;
}

.hide,.hidden {
    display: none;
}

img {
    display: block;
}
.wrapper{
    width:100%;
    height:100%;
    background: #000000;
}
/*第一页*/
.page1{
    width:100%;
    height:100%;
    background:url("../images/page1_bg.jpg") no-repeat;
    background-size: 100% 100%;
    position:absolute;
    left:0px;
    top:0px;
}
#loading_canvas{
    width:100%;
    height:16px;
    position:absolute;
    bottom:40px;
    left:0px;
    display:block;
}
/*箭头*/
.arrowRight{
    width:100px;
    height: 100px;
    position: absolute;
    right: 10px;
    top:50%;
    margin-left:-50px;
    background:url("../images/arrowRight.png") no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    opacity: 0.6;
    display: none;
}
.arrowRun{
    /*谷歌 opera safari*/
    -webkit-transform-style: preserve-3d;
    -webkit-animation-name: arrow-run;
    -webkit-animation-duration: 1500ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps(1,start);
    /*火狐*/
    -moz-transform-style: preserve-3d;
    -moz-animation-name: arrow-run;
    -moz-animation-duration: 1500ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: steps(1,start);
}
@-moz-keyframes arrow-run {
    0%{
        opacity: 0.6;
    }
    50%{
        opacity: 0.3;
    }
    100%{
        opacity: 0.6;
    }
}
@-webkit-keyframes arrow-run {
    0%{
        opacity: 0.6;
    }
    50%{
        opacity: 0.3;
    }
    100%{
        opacity: 0.6;
    }
}
/*第二页*/
.page2{
    height: 100%;
    width:100%;
    position:absolute;
    background:#000;
    background:url("../images/page2_bg.jpg") no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    display:none;
    opacity: 1;
    z-index: 1;
    overflow:hidden;
}
.page2-btn{
    width: 18%;
    height: 13%;
    position: absolute;
    top: 46%;
    left: 41%;
    z-index: 4;
}
.doorTop{
    height:51.9%;
    width:100%;
    background:url("../images/doorTop.png") no-repeat;
    background-size:100% 100%;
    position: absolute;
    top:0px;
    left:0px;
    z-index: 2;
}
.doorBottom{
    height:64.27%;
    width: 100%;
    background:url("../images/doorBottom.png") no-repeat;
    background-size:100% 100%;
    position:absolute;
    bottom: 0%;
    left:0%;
    z-index: 3;
}
.waveWord{
    height: 30px;
    width: 170px;
    text-align: center;
    position: absolute;
    top: 60%;
    z-index: 5;
    left: 50%;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 6px;
    margin-left: -85px;
}
.wordType{
    position: absolute;
    width: 82%;
    overflow: hidden;
    left: 50%;
    margin-left: -41%;
    top: 25.6%;
}
.wordType p{
    text-align: left;
    font-size: 22px;
    line-height: 30px;
    width: 94%;
    margin: 0 auto;
    letter-spacing: 1px;
}
.typeWord p:nth-child(2){
    text-indent: 44px;
}
.typeWord p:nth-child(3){
    text-indent: 44px;
}
.activitySite{
    position: absolute;
    width: 471px;
    height: 155px;
    background: url("../images/activitySite.png") no-repeat;
    background-size: 100% 100%;
    top: 46%;
    left: 50%;
    margin-left: -235.5px;
    opacity: 0;
}
/*第三页*/
.page3{
    width:100%;
    height:100%;
    position:absolute;
    display:none;
    opacity: 1;
}
.page3-info{
    width:100%;
    height:100%;
    position:absolute;
    background:url("../images/page3_bg.jpg") no-repeat;
    background-size: 100% 100%;
    display: none;
    opacity: 0;
}
/*第四页*/
.map{
    width: 40%;
    height: 14%;
    position: absolute;
    top: 68%;
    left: 30%;
    display:block;
}
/*第五页*/
.page4{
    width:100%;
    height:100%;
    position: absolute;
    background:url("../images/page4_bg.jpg") no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    display: none;
}
.page4 #user{
    width: 86%;
    height: 54%;
    position: absolute;
    left: 50%;
    margin-left: -43%;
    top: 23.5%;
}
.page4 #user p{
    width: 100%;
    height: 17%;
    margin-top: 32px;
}
.page4 #user p:first-child{
    margin-top:6px;
}
.page4 #user p input{
    width:100%;
    height:100%;
    border:0px;
    border: 0px;
    font-size: 35px;
    text-indent: 50px;
    background: url("../images/input_bg.jpg") no-repeat;
    background-size:100% 100%;
    color:#ffffff;
}
.submit{
    border: 0px;
    width: 100%;
    height: 16%;
    margin-top: 7%;
    background: url("../images/submit.jpg") no-repeat;
    background-size:100% 100%;
}
/*音乐*/
.music{
    width:100%;
    height:100%;
    position: absolute;
}
#toggle{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
    overflow: hidden;
    background:url("../images/openMusic.png") no-repeat;
    background-size:100% 100%;
    opacity: 0.6;
}
.toggle_pic{
    /*谷歌 opera safari*/
    -webkit-transform-style: preserve-3d;
    -webkit-animation-name: pic-run;
    -webkit-animation-duration: 3500ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps(1,start);
    /*火狐*/
    -moz-transform-style: preserve-3d;
    -moz-animation-name: pic-run;
    -moz-animation-duration: 3500ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}
@-moz-keyframes pic-run {
    0%{
        -moz-transform:rotate3d(0,0,1,0deg);
    }
    12.5%{
        -moz-transform:rotate3d(0,0,1,45deg);
    }
    25%{
        -moz-transform:rotate3d(0,0,1,90deg);
    }
    37.5%{
        -moz-transform:rotate3d(0,0,1,135deg);
    }
    50%{
        -moz-transform:rotate3d(0,0,1,180deg);
    }
    62.5%{
        -moz-transform:rotate3d(0,0,1,225deg);
    }
    75%{
        -moz-transform:rotate3d(0,0,1,270deg);
    }
    87.5%{
        -moz-transform:rotate3d(0,0,1,315deg);
    }
    100%{
        -moz-transform:rotate3d(0,0,1,360deg);
    }
}
@-webkit-keyframes pic-run {
    0%{
        -webkit-transform:rotate3d(0,0,1,0deg);
    }
    12.5%{
        -webkit-transform:rotate3d(0,0,1,45deg);
    }
    25%{
        -webkit-transform:rotate3d(0,0,1,90deg);
    }
    37.5%{
        -webkit-transform:rotate3d(0,0,1,135deg);
    }
    50%{
        -webkit-transform:rotate3d(0,0,1,180deg);
    }
    62.5%{
        -webkit-transform:rotate3d(0,0,1,225deg);
    }
    75%{
        -webkit-transform:rotate3d(0,0,1,270deg);
    }
    87.5%{
        -webkit-transform:rotate3d(0,0,1,315deg);
    }
    100%{
        -webkit-transform:rotate3d(0,0,1,360deg);
    }
}
/*首页滑动*/
.swipe{
    position: absolute;
    width: 104px;
    height: 32px;
    background: url("../images/swipe.gif") no-repeat;
    bottom: 40px;
    left: 50%;
    margin-left: -50px;
    display:none;

}
.preload-img img{
    display:none;
}
/*第五页*/
.page5{
    height:100%;
    width:100%;
    background: url("../images/bg.jpg") no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    overflow: hidden;
    display:none;
}
.page5_title{
    width:100%;
    height:79px;
    background:url("../images/page5_title.png") no-repeat;
    background-size:100% 100%;
    position: absolute;
    top: -79px;
}
.page5_footer{
    width:100%;
    height:65px;
    background:url("../images/page5_footer.png") no-repeat;
    background-size:100% 100%;
    position: absolute;
    bottom:-65px;
}
.tenWord{
    width: 132px;
    height: 32px;
    background: url("../images/tenWord.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 50%;
    margin-left: -66px;
    margin-top: 24px;
    opacity:0;
}
.panelA{
    width: 0;
    overflow: hidden;
    position: absolute;
    top: 14%;
    left: 50%;
    margin-left: -40%;
    opacity: 0;
    border: 4px solid #023c91;
    border-radius: 10px;
}
.panelA img{
    width:100%;
}
.panelB{
    width: 80%;
    overflow: hidden;
    position: absolute;
    top: 52%;
    left: 50%;
    margin-left: -40%;
    opacity: 0;
    border: 4px solid #023c91;
    border-radius: 10px;
}
.panelB img{
    width:100%;
}


.panelC{
    overflow: hidden;
    position: absolute;
    top: 14%;
    opacity: 0;
    width:100%;
    display:-moz-box;
    display:-webkit-box;
    -moz-box-pack:center;
    -webkit-box-pack:center;
    -o-box-pack:center;
}
#fragment_title{
    position: relative;
    width: 576px;
    height:341px;
    background-size:100% 100%;
    background-repeat: no-repeat;
    overflow:hidden;
}
.panelD{
    width: 100%;
    height: 358px;
    overflow: hidden;
    position: absolute;
    top: 52%;
    opacity: 0;
    display:-moz-box;
    display:-webkit-box;
    -moz-box-pack:center;
    -webkit-box-pack:center;
    -o-box-pack:center;
}
.panelD img{
    width:576px;
    border: 4px solid #023c91;
    border-radius: 10px;
}
.panelE{
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 12%;
    left: 50%;
    margin-left: -40%;
    opacity: 0;
    display:none;
}
.panelE img{
    width:80%;
    border: 4px solid #023c91;
    border-radius: 10px;
}
.panelF{
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 52%;
    left: 50%;
    margin-left: -40%;
    opacity: 0;
    display:none;
}
.panelF img{
    width:80%;
    border: 4px solid #023c91;
    border-radius: 10px;
}

/*第六页*/

.page6{
    width:100%;
    height:100%;
    position:absolute;
    background:url("../images/page6_bg.jpg") no-repeat;
    background-size:100% 100%;
    overflow: hidden;
    display:none;
    z-index: 99;
}
.ig{
    width:640px;
    height:423px;
    position:absolute;
    top:12%;
    left:50%;
    margin-left:-320px;
    background:url("../images/ig.png") no-repeat;
    background-size:100% 100%;
    opacity: 0;
}
.snake{
    width:640px;
    height:312px;
    position:absolute;
    top:33%;
    left:50%;
    margin-left:-320px;
    background:url("../images/snake.png") no-repeat;
    background-size:100% 100%;
    opacity: 0;
}
.glory{
    width:320px;
    height:72px;
    position:absolute;
    top:72%;
    left:-320px;
    background:url("../images/word.png") no-repeat;
    background-position: 0% 0%;
    display:none;
}
.hand-in{
    width:320px;
    height:72px;
    position:absolute;
    top:72%;
    right:-320px;
    background:url("../images/word.png") no-repeat;
    background-position: 100% 0%;
    display:none;
}
.page7{
    width:100%;
    height:100%;
    position:absolute;
    overflow: hidden;
    background:url("../images/program_activities.jpg") no-repeat;
    background-size:100% 100%;
    display:none;
}
.activity{
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 16%;
    height: 74px;
    overflow: hidden;
    margin-top: 28px;
    opacity: 0;
}
.activity_time{
    width: 247px;
    height:74px;
    background: url("../images/activity_time.png") no-repeat;
    background-size:100% 100% ;
    position: relative;
    left:2%;
    float:left;
    font-size:30px;
    color:#00b8fc;
    line-height:74px;
    text-align: center;
}
.activity_name{
    width: 286px;
    height:74px;
    background:url("../images/activity_name.png") no-repeat;
    background-position: 0 100%;
    position: relative;
    right:2%;
    float:right;
    font-size:32px;
    line-height:74px;
    color:#00b8fc;
    text-align: center;
}
.page8{
    width:100%;
    height:100%;
    position:absolute;
    overflow: hidden;
    background:url("../images/program_activities.jpg") no-repeat;
    background-size:100% 100%;
    display:none;
}
.page9{
    width:100%;
    height:100%;
    position:absolute;
    overflow: hidden;
    background:url("../images/program_activities.jpg") no-repeat;
    background-size:100% 100%;
    display:none;
}
.page10{
    width:100%;
    height:100%;
    position:absolute;
    overflow: hidden;
    background:url("../images/page10_bg.png") no-repeat;
    background-size:100% 100%;
    display:none;
}
.jiang{
    width:368px;
    height:187px;
    position: absolute;
    top:24%;
    left:50%;
    margin-left:-184px;
    background:url("../images/jiang.png") no-repeat;
    background-size:100% 100%;
    opacity: 0;
}
.liwu{
    width:640px;
    height:329px;
    position: absolute;
    bottom:100%;
    left:50%;
    margin-left:-320px;
    background:url("../images/liwu.png") no-repeat;
    background-size:100% 100%;
}